* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background: #1f1f20;
}


html {
    scroll-behavior: smooth;
}

.slider {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    &Container {
        max-width: 1000px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        .images {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
            border-radius: 10px;
            position: relative;
            cursor: grab;
            transition: all 0.7s;

            img {
                width: 100%;
                background-size: cover;
                object-fit: cover;
            }
        }

        .left, .right {
            position: absolute;
            top: 50%; transform: translateY(-50%); 
            font-size: 2em;
            color: #007AFF;
            cursor: pointer;
            text-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
            transition: all 0.3s;

            &[disabled] {
                ion-icon {
                    color: rgba(0,122,255, 0.5);
                    cursor: default;
                }
            }
        }

        .left {
            left: 15px;
        }

        .right {
            right: 15px;
        }

        .circle {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            color: #007AFF;
            display: flex;
            gap: 10px;

            i {cursor: pointer;}
        } 
    }
}

@media screen and (max-width: 550px) {
    .slider {
        &Container {
            transform: translateX(0px);
            .circle {
                display: none;
            }
            .images {
                overflow-x: scroll;
                scroll-snap-type: x mandatory;    
                display: flex;
                justify-content: flex-start;
                flex-flow: row nowrap;

                img {
                    scroll-snap-align: start;
                }
            }
            .images::-webkit-scrollbar {
                height: 10px;
            }

            .images::-webkit-scrollbar-track {
                background: rgba(0,0,0,0.5);
            }

            .images::-webkit-scrollbar-thumb {
                background: #007AFF;
            }

            .leftRightBtn {
                display: none;
            }
        }
    }
}